{% extends 'blog/base.html' %} 
{% load static from staticfiles %}
		{%block title%}<title>{{ post.title }}  </title>
			<meta name="description" content="{{ post.desc }}">
		{% endblock %}
{% block body_class %}blog-details{% endblock %}


     



{% block content %}
   <section class="main-holder-blue-bg" style="background-color: #f5f5f5;">

            <nav class="white-bg">
                <div class="nav-wrapper">
                    <a href="/blog/" class="brand-logo"><img src="{% static 'blog/img/logo.png'%}" alt="Scholfin Logo"></a>
                    <!-- <ul id="nav-mobile" class="right">
                        <li class="searching-icon">
                            <a href="#modal3" class="hide-on-large-res modal-trigger search-call"><span class="sprite grey-search-icon"></span> </a>                           
                            <button class="search-button" type="submit"><span class="sprite grey-search-icon"></span></button>
                            <div class="input-field search-text">
                                <input id="search-text" type="text">
                            </div>
                        </li>
                        <li><a href="#" class="grey-color">|</a></li>
                        <li>
                            <a class="waves-effect waves-light btn light-red hide-on-med-and-down">GIVE A SCHOLARSHIP</a>
                            <a class="waves-effect waves-light btn light-red hide-on-large-only"><img src="img/graduation_cap.png"></a>
                        </li>
                        <li><a href="#modal1" class="modal-trigger login">LOGIN</a></li>                      
                    </ul> -->
                </div>
            </nav> 
            <div class="container">
                <div class="col s12 breadcrumb-holder">
                    <a href="/blog/" class="breadcrumb">HOME</a>
                    <a href="" class="breadcrumb">BLOG</a>
                </div>
            </div>

<div class="container saved-list">
                <div class="row">
                    <div class="col s12 m12" style="padding: 0px;">
                        <div class="row saved-list-content blog-details">
                            <div class="col l1 m1 s1" style="max-width: 20px;"><a href="/blog/" class="back-arr"><img src="{% static 'blog/img/bck-arr.png'%}" alt="back-arrow"></a></div>
                            <div class="col l11 m11 s11" >
                                <h1>{{ post.title }}</h1>
                                <h6> {{post.posted }}<span class="name">Scholfin</span> <br></h6>
                            </div>
                            <div class="blog-detailed-contents">
                                
                                {{ post.body | safe}}
                                <!-- <h5>
                                    <span class="sprite likes">19</span>
                                    <span class="sprite comments">10</span>
                                    <span class="sprite share-blog right"></span>
                                </h5> -->
                            </div>
                            <!-- <div id="disqus_thread"></div>
                            <script>
                                /**
                                 * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                 * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                                 */
                                /*
                                 var disqus_config = function () {
                                 this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                                 this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                 };
                                 */
                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');

                                    s.src = '//scholfindiscussion.disqus.com/embed.js';

                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                        </div>
 -->
                    </div>                     
                </div>
            </div>
        </section>

    
{% endblock %}