<!DOCTYPE html>
<html charset="utf-8">

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Validation Form</title>

    <link rel="stylesheet" href="{% static "scholarship/assets/demo.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/assets/form-labels-on-top.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/assets/form-basic.css" %}">
    <link rel="stylesheet" href="{% static "dashboardpro/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/material.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/styles.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/css/bootstrap.css" %}">
    <script src="{% static "scholarship/jquery.min.js" %}"></script>


</head>

<body>
    <header class="demo-header mdl-layout__header_viewdetail mdl-color--white mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row" style="background-color:#55bbea">
        {% if userid != -1 %}
          <a href="/dashboard/" style="color:white !important;text-decoration:none"><span class="mdl-layout-title" >ScholFin</span></a>
         {% endif %}
         {% if userid == -1 %}
          <a href="/" style="color:white !important;text-decoration:none"><span class="mdl-layout-title">ScholFin</span></a>
         {% endif %}
          <div class="mdl-layout-spacer"></div>
          {% if userid != -1%}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons" style="color:white">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <a href="/profile/" style="text-decoration:none"><li class="mdl-menu__item" >Profile</li></a>
            <a class="typeform-share link" href="https://scholfin.typeform.com/to/EgBAUf" data-mode="2" target="_blank" style="text-decoration:none"><li class="mdl-menu__item">Feedback
                 </li></a>
            <a href="/logout/" style="text-decoration:none"><li class="mdl-menu__item">Logout</li></a>
          </ul>
          {% endif %}
      </header>

    <div class="main-content">

        <!-- You only need this form and the form-validation.css -->
    {% if sc.name != 'J.N. Tata Endowment for Higher Education' %}

        <form enctype="multipart/form-data" class="form-labels-on-top" method="POST" action="/submit-application/" >
        {% csrf_token %}
            <input type="hidden" name='sch' value='{{sc.name}}'>
            <div class="form-title-row">
                <h1>{{sc.name}} - Application Form</h1>
            </div>
        {% if sc.scholarship_type < 99 %}
            <div class="form-row ">

            {% if question %}
                {% for ques in question  %}
                    {% if ques.question_type == 0 %}
                        <label>
                            <span>{{ques.question}}</span>
                            <textarea name="{{ques.question_id}}" type='input' value='3uh'></textarea>
                        </label>
                    {% elif ques.question_type == 1 %}
                        <label><span>{{ques.question}}</span></label>
                        <div class="form-radio-buttons">
                        {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                        <div>
                                            <label>
                                                <input type="radio" name="{{ques.question_id}}" value="{{op}}">
                                                <span>{{op}}</span>
                                            </label>
                                        </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div>


                    {% elif ques.question_type == 2 %}
                    <label>
                    <span>{{ques.question}}</span>
                    <select name="{{ques.question_id}}">
                    <option>Choose an option</option>
                    {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                        <option value="{{ op }}">{{op}}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}       
                    </select>
                </label>

                {% elif ques.question_type == 3 %}
                <label class="form-checkbox">
                    <span>{{ques.question}}</span>
                    {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                    <input type="checkbox" name="{{ques.question_id}}" value="{{op}}">{{op}}
                                    <br><br>
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}  
                </label>
                {% elif ques.question_type == 4 %}
                        <label>
                            <span>{{ques.question}}</span>
                            <input name="{{ques.question_id}}" type='text' value='' required="">
                        </label>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if sc.docs %}
            <br>
            <br>
                {% for doc in sc.docs %}
                <label>
                    <span>{{doc}} : </span>
                    <input type="file" name="file" >          
                </label>
                <br>
                <br>
                {% endfor %}

            {%endif%}
            </div>  
            
            <div class="form-row">

                <button type="submit">Submit Form</button>

            </div>
        {% else %}
            <h3 style="color:red">Application for 2016 is closed now. </h3>
            <h4 style="margin-left:-30px !important;margin-right:-30px !important;"> There  are <span style='font-weight:900'>{{number}} </span> scholarships  worth  
            <span style='font-weight:900;'>Rs{{amount}}</span> matching your profile .</h4>
            <a href="/dashboard/">Click here to view them.</a>

                     

        {% endif %}
        </form>

    {% else %}
       
        <form class="form-labels-on-top" method="POST" action="/provider/form-download/" >
        {% csrf_token %}
            <input type="hidden" name='sch' value='{{sc.name}}'>
            <div class="form-title-row">
                <h1>{{sc.name}} - Application Form Download</h1>
            </div>
            Fill the details and Download The Application Form
        {% if sc.scholarship_type < 99 %}
            <div class="form-row ">

            {% if question %}
                {% for ques in question %}
                    {% if ques.question_type == 0 %}
                        <label>
                            <span>{{ques.question}}</span>
                            <textarea name="{{ques.question_id}}" type='input' value='3uh'></textarea>
                        </label>
                    {% elif ques.question_type == 1 %}
                        <label><span>{{ques.question}}</span></label>
                        <div class="form-radio-buttons">
                        {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                        <div>
                                            <label>
                                                <input type="radio" name="{{ques.question_id}}" value="{{op}}">
                                                <span>{{op}}</span>
                                            </label>
                                        </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </div>


                    {% elif ques.question_type == 2 %}
                    <label>
                    <span>{{ques.question}}</span>
                    <select name="{{ques.question_id}}">
                    <option>Choose an option</option>
                    {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                        <option value="{{ op }}">{{op}}</option>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}       
                    </select>
                </label>

                {% elif ques.question_type == 3 %}
                <label class="form-checkbox">
                    <span>{{ques.question}}</span>
                    {% for x in option %}
                            {% if x.id == ques.question_id%}
                                {% for op in x.options %}
                                    <input type="checkbox" name="{{ques.question_id}}" value="{{op}}">{{op}}
                                    <br><br>
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}  
                </label>
                {% elif ques.question_type == 4 %}
                        <label>
                        {{state}}
                            <span>{{ques.question}}</span>
                            <input name="{{ques.question_id}}" type='text' value='' required>
                        </label>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>  
            
            <div class="form-row">

                <button type="submit" >Download Form</button>
            </div>
            </form>
    <form enctype="multipart/form-data" class="form-labels-on-top" method="POST" action="/provider/form-download/" style="margin-top:-50px !important">{% csrf_token %}
        <div class="form-title-row">
                <h1>Upload Filled Applicaton</h1>
            </div>
        After Downloading the Form - Upload the filled application form with your LOR Here
        {% if sc.docs %}
            <br>
            <br>
                {% for doc in sc.docs %}
                <label>
                    <span style='align:left'>{{doc}} : </span>
                    <input type="file" name="file" required>          
                </label>
                {% endfor %}

            {%endif%}
            <button type="submit" name="upload" value="upload">Upload Documents And Submit</button>
        <p style="color:red">If not get the application form above. </p>
        <hr>
    </form>
        {% else %}
            <h3 style="color:red">Application for 2016 is closed now. </h3>
            <h4 style="margin-left:-30px !important;margin-right:-30px !important;"> There  are <span style='font-weight:900'>{{number}} </span> scholarships  worth  
            <span style='font-weight:900;'>Rs{{amount}}</span> matching your profile .</h4>
            <a href="/dashboard/">Click here to view them.</a>

                     

        {% endif %}
        
    {% endif %}
    </div>

    <script src="{% static "scholarship/material.js" %}"></script>
</body>

</html>







