<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ scholarship.meta_data }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ scholarship.meta_title }}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="title" content="{{ scholarship.meta_title }}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static  'scholarship/material.css' %}">
    <link rel="stylesheet" href="{% static 'scholarship/styles.css' %}">
    <link rel="stylesheet" href="{% static 'scholarship/css/bootstrap.css' %}">
    <script src="{% static 'scholarship/jquery.min.js' %}"></script>
    <script src="{% static 'scholarship/bootstrap.js' %}"></script>
    <link src=url('fonts/glyphicons-halflings-regular.ttf')>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    .scholfin-font{
    font-family: 'Open Sans', sans-serif;  
    }
	.mdl-layout-title , .mdl-layout-title:hover{
		color:white;
		text-decoration:none;
		text-transformation:none;
	}
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <header class="demo-header mdl-layout__header_viewdetail mdl-color--white mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row" style="background-color:#55bbea">
        {% if userid != -1 %}
          <span class="mdl-layout-title" style="color:white !important;text-decoration:none"><a href="/dashboard/">ScholFin</a></span>
         {% endif %}
         {% if userid == -1 %}
          <span class="mdl-layout-title" style="color:white !important;text-decoration:none"><a href="/">ScholFin</a></span>
         {% endif %}
          <div class="mdl-layout-spacer"></div>
<!--           <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" />
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div> -->
          {% if userid != -1%}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <a href="/profile/" style="text-decoration:none"><li class="mdl-menu__item" >Profile</li></a>
            <a class="typeform-share link" href="https://scholfin.typeform.com/to/EgBAUf" data-mode="2" target="_blank" style="text-decoration:none"><li class="mdl-menu__item">Feedback
			     </li></a>
            <a href="/logout/" style="text-decoration:none"><li class="mdl-menu__item">Logout</li></a>
          </ul>
          {% endif %}
        </div>
      </header>
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    
    <div class="container">
      <div class="row">
        <div class=" col-md-12 col-sm-12">
          <h1 id="name" style="padding-top:4%; font-family: 'Open Sans', sans-serif;">{{ scholarship.name }}</h1>
          <h5 id="offer" style="opacity:0.7;font-weight:50">Offered By: {{ scholarship.offered_by }}</h5>
        </div>
        <div class="col-md-12 col-xs-12 scholfin-font" style="padding-top:1.5%;">
          <h2 style="font-size:160%;">
              {% if scholarship.scholarship_type == 0 or scholarship.scholarship.scholarship_type == 1 %}
                Scholarship's Application Details
              {% elif scholarship.scholarship_type == 2 %}
                Competition's Application Details
              {% endif %}
          </h2>
        </div>
        <div class="col-xs-12 col-md-12">
          <hr style="margin-top:-0.25%;">

      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- details about deadline -->
          <div class="col-md-4 col-md-push-8 demo-graphs mdl-shadow--8dp mdl-color--white" >
            <div class="row">
			{% if userid != -1 %}
             <a href="{{ scholarship.apply_link }}" target="_blank" style="color:white !important;text-decoration:none">
                 <button style="margin-top:1%" type="button" class="btn btn-success col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11" aria-haspopup="true" aria-expanded="false"  >
                  <h4> Let's Apply</h4>
                </button>
              <div class="col-xs-12 col-md-12">
                <hr style="padding-top:5%;">
              </div>
            </a>
            {% endif %}
            {% if userid == -1 %}
            <button style="opacity:0.8;margin-top:1%" type="button" class="btn btn-success col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#myModal">
                  <h4>Let's Apply</h4>
              </button>
             {% endif %}
              <div class="col-md-offset-1 col-md-9 col-sm-9 col-xs-9" >
                <h2 style="color:grey;text-transform: uppercase;font-size:110%;"><i class="material-icons">school</i>&nbsp Scholarship Award</h2>
              </div>
              <div class="col-md-offset-1 col-md-11 col-sm-8 col-xs-8" >
                <h2 title="{{ scholarship.name }} Amount" style="text-transform: uppercase;margin-top:0.5%;opacity:0.6;margin-right:-0.25%;font-weight:700 ;font-size:250%">
                    {% if scholarship.amount  %}
                      {% if scholarship.amount_frequency == 0 %}
                        {% if scholarship.currency == 0 %}
                            ₹{{ scholarship.amount  }}
                        {% elif scholarship.currency == 1 %}
                            ${{ scholarship.amount  }}
                        {% elif scholarship.currency == 2 %}
                            €{{ scholarship.amount  }}
                        {% elif scholarship.currency == 3 %}
                            £{{ scholarship.amount  }}
                        {% elif scholarship.currency == 4 %}
                            ₩{{ scholarship.amount  }}
                        {% elif scholarship.currency == 5 %}
                            ₹{{ scholarship.amount  }}
                        {% elif scholarship.currency == 6 %}
                            ₹{{ scholarship.amount  }}
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }}
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }}
                        {% endif %}
                      {% endif %}
                      {% if scholarship.amount_frequency == 1 %}
                        {% if scholarship.currency == 0 %}
                            ₹{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 1 %}
                            ${{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 2 %}
                            €{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 3 %}
                            £{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 4 %}
                            ₩{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 5 %}
                            ₹{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 6 %}
                            ₹{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }} MONTHLY
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }} MONTHLY
                        {% endif %}
                      {% endif %}
                      {% if scholarship.amount_frequency == 2  %}
                        {% if scholarship.currency == 0 %}
                            ₹{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 1 %}
                            ${{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 2 %}
                            €{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 3 %}
                            £{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 4 %}
                            ₩{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 5 %}
                            ₹{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 6 %}
                            ₹{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }} YEARLY
                        {% elif scholarship.currency == 7 %}
                            ₹{{ scholarship.amount  }} YEARLY
                        {% endif %}
                      {% endif %}
                      {% elif scholarship.amount == 0  %}
                         VARIES
                      {% endif %}
                </h2>
              </div>
              
             <div class="col-xs-12 col-md-12">
                <hr style="padding-top:5%;">
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-9" >
                <h2 style="color:grey;margin-top:-1%;text-transform: uppercase;font-size:110%;"><i style="font-size:100%" class="glyphicon glyphicon-calendar " aria-hidden="true"></i>&nbsp Application Deadline</h2>
              </div>
              <div class="col-md-offset-1 col-md-11 col-sm-8 col-xs-8" >
                <h2 title="{{ scholarship.name }} Deadline" style="margin-top:0.5%;opacity:0.6;margin-right:-0.25%;font-weight:700;font-size:250%">
                    {% if scholarship.deadline_type == 0 %}
                        {{ scholarship.deadline|date:'d M Y'  }}
                      {% elif scholarship.deadline_type == 1 %}
                         Year Long
                      {% elif scholarship.deadline_type == 2 %}
                        Not Declared
                      {% elif scholarship.deadline_type == 3 %}
                        {{ scholarship.deadline|date:'d M Y' }} <small>Expected</small>
                    {% endif %}
                </h2>
              </div>
              <div class="col-md-offset-5 col-sm-offset-4 col-xs-offset-4 col-md-1 col-sm-1 col-xs-1">
                <a href="#" ><i id="expand"  style="font-size:100%" class="glyphicon glyphicon-menu-down " aria-hidden="true"></i></a>
              </div>
                <div class="extra_info col-md-11  col-xs-8  col-sm-8" >
                  <ul id="check" class="scholfin-font" style="color:black">
                    <li><h4 title="{{ scholarship.name }} deadline details">{{ scholarship.deadline_details }}</h4></li>
                  </ul>
                </div>
            </div>
            
                
             
          </div>


        <!-- details about scholarship -->
          <div class="col-md-8 col-md-pull-4 demo-graphs mdl-shadow--2dp mdl-color--white">
            
              <div class="row aboutschol" >

                <div class="eligibility ">
                  <h3 class="col-md-11 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%" ><i class="material-icons" style="color:#55bbea">group</i> &nbsp ELIGIBILITY</h3>
                  <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                  <p title="{{ scholarship.name }} Eligibility" class="col-md-12 col-sm-8 col-xs-8 scholfin-font " style="opacity:3;color:black;">
                      {{ scholarship.eligibility| linebreaksbr }}
                  </p>
                </div>
                
                <div class="about">
                  <h3 class="col-md-12 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%"><i class="material-icons" style="color:#55bbea">info</i>&nbspABOUT</h3>
                  <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                  <p title="{{ scholarship.name }} About" class="col-md-12 col-sm-8 col-xs-8 scholfin-font" style="opacity:3;color:black;">
                      {{ scholarship.about| linebreaksbr }}
                  </p>
                </div>

                <div class="Procedure">
                  <h3 class="col-md-12 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%"><i class="material-icons" style="color:#55bbea">assignment</i>&nbsp PROCEDURE</h3>
                  <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                  {% if userid == -1 %}
                  	<ul class="col-md-12 col-sm-8 col-xs-8 scholfin-font">
		              <li  style="opacity:3;color:black;"><p>{{ scholarship.procedure| linebreaksbr | slice:":100" }}....</p></li>
		              <li>
		                <a href="/login/" class="btn btn-justified btn-success">Login</a>
		                <a href="/signup/" class="btn btn-justified" style="background-color:#55bbea;color:white">Sign Up</a></li><br>
						  <li>>> Get scholarships in just 3 clicks!</li>
						  <li>>> Personalized scholarship matches worth ₹9458 crores </li>
						  <li>>> Never miss a scholarship deadline with email notifications</li>
						</ul>
                  {% endif %}
                  {% if userid != -1 %}
                  <p title="{{ scholarship.name }} Application Procedure" class="col-md-12 col-sm-8 col-xs-8 scholfin-font" style="opacity:3;color:black;">
                      {{ scholarship.procedure| linebreaksbr }}
                  </p>
                  {% endif %}
                </div>
                {% if scholarship.other_benefits != ' ' %}
              <div class="Other Benifits">
                <h3 class="col-md-12 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%"><i class="material-icons" style="color:#55bbea">layers</i>&nbsp AMOUNT DETAILS</h3>
                <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                <p title="{{ scholarship.name }} Amount Details" class="col-md-12 col-sm-8 col-xs-8 scholfin-font" style="opacity:3;color:black;">{{ scholarship.other_benefits| linebreaksbr }}</p>.
                </p>
              </div>
                  {% endif %}

             <div class="Contact details">
                  <h3 class="col-md-12 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%"><i class="material-icons" style="color:#55bbea">perm_phone_msg</i>&nbsp CONTACT DETAILS</h3>
                  <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                  <address title="{{ scholarship.name }} Contact Details" class="col-md-12 col-sm-8 col-xs-8 scholfin-font" style="opacity:3;color:black;">
                      {{ scholarship.contact_details| linebreaksbr}}
                  </address>
              </div>
                {% if scholarship.additional_links != ' ' %}
              <div class="Additional Links">
                  <h3 class="col-md-12 col-sm-8 col-xs-8 topoft" style="font-family: 'Helvetica', 'Arial', Sans-serif;font-size:120%"><i class="material-icons" style="color:#55bbea">link</i>&nbsp ADDITIONAL INFORMATION</h3>
                  <hr class="col-md-11 col-sm-8 col-xs-8" style="margin-top:-0.75%">
                  <p title="{{ scholarship.name }} Additional Link" class="col-md-12 col-sm-8 col-xs-8 scholfin-font" ><a href="{{ scholarship.additional_links }}" target="_blank">{{ scholarship.additional_links }}</a>
                  </p>
              </div>
                {% endif %}
            </div>
            {% if userid == -1 %}
		      <div>
		      	<p style="color:grey">{{ scholarship.meta_data }}</p>
		      </div>
		      {% endif %}

          </div>
       </div>
    </div>

    <footer>
      <div class="row" style="padding : 5%">
        {% if userid != -1%}
        <a href="/dashboard/" class="col-md-8" style="font-size:150%;text-align:center">
          << Back to Scholarship Dashboard 
        </a>
        {% endif %}
        <br>
        <a class="typeform-share button" href="https://scholfin.typeform.com/to/EgBAUf" data-mode="2" target="_blank" style="color:blue"; >Give us a Feedback</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

      </div>

    </footer>
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create an account to Explore All scholarship</h4>
      </div>
      <div class="modal-body">
        <ol>
        	<li>Get scholarships in just 3 clicks!</li>
          <li>Personalized scholarship matches worth ₹9458 crores </li>
          <li>Never miss a scholarship deadline with email notifications</li>
        </ol>
      </div>
      <div class="modal-footer">
        <a href="/login/" class="btn btn-success">Login</a>
        <a href="/signup/" class="btn" style="background-color:#55bbea;color:white">Sign Up</a>
      </div>
    </div>
  </div>
</div>
    

    <script src="{% static 'scholarship/material.js' %}"></script>
    <script>

    function initialiseJS() {
         $('#check').hide();

      jQuery(function() {

        function responsiveView(){

          var wSize = jQuery(window).width();
          if(wSize>768){
            $('#name').css({
              'text-align' : 'left'
            })
            $('#offer').css({
              'text-align' : 'left'
            })
            $('.topoft').css({
              'margin-top' : '2%'
            })
            $('.aboutschol').css({
              'margin-top' : '2%'
            })
          }
          if(wSize<=768){
            $('#name').css({
              'text-align' : 'center'
            })
            $('#offer').css({
              'text-align' : 'center'
            })
            $('.topoft').css({
              'margin-top' : '20%'
            })
            $('.aboutschol').css({
              'margin-top' : '10%'
            })
          }
        }

      $(window).on('load', responsiveView);
      $(window).on('resize', responsiveView);
    })
  }

    $(document).on('ready', getStarted); 

    function getStarted(){
      initialiseJS();
      registerOnClick();
    };
    
    function registerOnClick() {
      $('#expand').on('click', showdate);
    }

    function showdate(){
      console.log("message");
      $('#check').toggle();
        if($('#check').is(':visible') === true){
          $('#expand').removeClass('glyphicon-menu-down');
          $('#expand').addClass('glyphicon-menu-up');
        }
        else{
          $('#expand').addClass('glyphicon-menu-down');
          $('#expand').removeClass('glyphicon-menu-up');
        }
      }
    </script>
  </body>
</html>
