
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<META http-equiv="X-UA-Compatible"  Content="IE=9">
<title>Form | ScholFin</title>
<meta name="description" content="">
<meta name="author" content="Scholfin">

<!-- Favicons-->

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<!-- CSS -->
<link href="{% static "signup/css/bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "signup/css/style.css" %}" rel="stylesheet"/>
<link href="{% static "signup/css/style1.css" %}" rel="stylesheet"/>
<link href="{% static "scholarship/css/font-awesome.css" %}" rel="stylesheet"/>
<link href="{% static "signup/css/socialize-bookmarks.css" %}" rel="stylesheet"/>
<link href="{% static "signup/css/aero.css" %}" rel="stylesheet"/>

<!-- Toggle Switch -->
<link rel="stylesheet" href="{% static "signup/css/jquery.switch.css" %}">

	<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src={% static "signup/js/jquery-ui-1.8.22.min.js" %} type="text/javascript"></script>

<!-- Wizard-->
<script src="{% static "signup/js/jquery.wizard.js" %}" type="text/javascript"></script>

<!-- Radio and checkbox styles -->
<script src="{% static "signup/js/check.min.js" %}" type="text/javascript"></script>


<!-- HTML5 and CSS3-in older browsers-->
<script src="{% static "signup/js/modernizr.js" %}" type="text/javascript"></script>

<!-- Support media queries for IE8 -->
<script src="{% static "signup/js/respond.min.js" %}" type="text/javascript"></script>
<!-- facebook-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>

<body>

<section id="top-area">

 </section>

<section class="container" id="main">

<!-- Start Survey container -->
<div id="survey_container">

	<div id="top-wizard">
		<strong>Progress <span id="location"></span></strong>
		<div id="progressbar"></div>
		<div class="shadow"></div>
	</div><!-- end top-wizard -->

	<form name="example-1" id="wrapped" action="/signupprocess/" method="post">{% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}"/>
        <input type="hidden" name="password" value="{{ password }}"/>
        <input type="hidden" name="email" value="{{ email }}"/>
        <input type="hidden" name="auth_type" value="{{ auth_type }}"/>
		<div id="middle-wizard">
			<div class="step">
				<div class="row">
					<div class="col-md-10">
						<ul class="data-list">
              <input id="website" name="website" type="text" value=""><!-- Leave for security protection, read docs for details -->
						</ul>
					</div><!-- end col-md-6 -->
          </div>
					<div class="row">
					<div class="col-md-12">
					<h3>Educational Detail</h3>
						<ul class="data-list">
							<li>
                                <div class="styled-select">
                                    <select class="form-control required" name="state">
                                        <option value="" selected="">Select your state</option>
                                        {% if states %}
                                            {% for state in states %}
                                                <option value="{{ state.state_id }}">{{ state.state_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
							</li>
						</ul>
                        <h3>Choose your Gender</h3>
						<ul class="data-list floated clearfix">
							<li><input name="gender" type="radio" class="required check_radio" value="0" checked><label class="label_gender"> Male</label></li>
							<li><input name="gender" type="radio" class="required check_radio" value="1"><label class="label_gender"> Female</label></li>
						</ul>
                    <br>
                        <h3>Do you want to study abroad ?</h3>
						<ul class="data-list floated clearfix">
                            <li><input name="abroad" type="radio" class="required check_radio" value="2"><label class="label_gender">Yes</label></li>
                            <li><input name="abroad" type="radio" class="required check_radio" value="1"><label class="label_gender">I'm<span style="color:white">-</span>not<span style="color:white">-</span>sure</label></li>
						</ul>
						<br>
					</div><!-- end col-md-6 -->
				</div><!-- end row -->

				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<ul class="data-list" id="terms">
							<li>
                            <strong>Do you accept <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</strong>
                            <label class="switch-light switch-ios ">
                                    <input type="checkbox" name="terms" class="required fix_ie8" value="yes">
                                    <span>
                                        <span class="ie8_hide">No</span>
                                        <span>Yes</span>
                                    </span>
                                    <a></a>
                                </label>
							</li>
						</ul>
					</div>
				</div>

			</div><!-- end step-->

			<div class="step row">
				<div class="col-md-12">
					<h3>Educational Detail</h3>
						<ul class="data-list">
							<li>
							<div class="styled-select">
								<select class="form-control required" name="level">
                                        <option value="" selected="">Select your current education level</option>
                                        {% if levels %}
                                            {% for level in levels %}
                                                <option value="{{ level.level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
							</div>
							</li>
						</ul>
				</div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <input type="text" class="required form-control" name="age" placeholder="D.O.B dd/mm/yy" />
                </div>
                <div class="clearfix"></div>
                <h3>Choose your caste</h3>
                    <ul class="data-list floated caste clearfix ">
                        {% if castes %}
                            {% for caste in castes %}
                                <li><input name="caste" type="radio" class=" required check_radio" value="{{ caste.caste_id }}"><label class="label_gender">{{ caste.caste_name }}</label></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
			</div><!-- end step -->

			<div class="step row">
				<div class="col-md-12">
					<h3>Select an educational field which suits you the best</h3>
					<ul class="data-list">
                        <li>
                            <div class="styled-select">
                                <select class="form-control required" name="field">
                                    <option value="" selected="">Select your field of education </option>
                                    {% if fields %}
                                        {% for field in fields %}
                                            <option value="{{ field.field_id }}">{{ field.field_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </li>
                    </ul>
                    <h3>Pick areas of your interest</h3>
                    <small>You may choose more than one entries</small>
                    <br>
                    <ul class="data-list interest floated clearfix">
                        {% if interests %}
                            {% for interest in interests %}
                                <li><input class="icheck_checkbox" type="checkbox" name="interest" value="{{ interest.interest_id }}"/><label class="label_gender">{{ interest.interest_name }}</label></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
				</div>
			</div><!-- end step -->

			<div class="step row">
                <div class="col-md-12">
                    <select class="form-control required" name="religion">
                        <option value="" selected="">Select your religion</option>
                        {% if religions %}
                            {% for religion in religions %}
                                <option value="{{ religion.religion_id }}">{{ religion.religion_name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <input type="text" class="required form-control" placeholder="First Name" name="fname" value="{{ firstname }}"/>
                </div>
                <div class="col-md-6">
                    <input type="text" class="required form-control" placeholder="Last Name" name="lname" value="{{ lastname }}"/>
                </div>
                <div class="clearfix"></div>
                <h3>Do you have any physical disability?</h3>
                <div class="col-md-12">
                    <ul class="data-list disability floated clearfix">
                        <li><input name="disability" type="radio" class="required check_radio" value="1" ><label class="label_gender">Yes</label></li>
                        <li><input name="disability" type="radio" class="required check_radio" value="0" checked><label class="label_gender">No</label></li>
                    </ul>
                </div>
            </div>	
			<div class="submit step" id="complete">
			<h3>Like us on Facebook! </h3>
                <br>
			<!-- <div class="fb-page" data-href="https://www.facebook.com/SCHOLFIN" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SCHOLFIN"><a href="https://www.facebook.com/SCHOLFIN">Scholfin</a></blockquote></div></div> -->
                <div class="fb-like" 
                    data-href="https://www.facebook.com/scholfin?_rdr" 
                    data-width="500" 
                    data-layout="button" 
                    data-action="like" 
                    data-show-faces="false" 
                    data-share="true">
                </div>
                <div class="fb-share-button" 
                    data-href="https://scholfin.com" 
                    data-layout="button">
                </div>
			 			<h3>Your profile is created! Thank you for your time.</h3>
						{% if next_url == "/dashboard/" %}
                          <button type="submit" name="process" class="submit">Click here to see your scholarships</button>
                        {% else %}
                            <button type="submit" name="process" class="submit">Proceed To Your Search</button>
                        {% endif %}
			</div><!-- end submit step -->

		</div><!-- end middle-wizard -->

		<div id="bottom-wizard">
			<button type="button" name="backward" class="backward" disabled="disabled">Backward</button>
			<button type="button" name="forward" class="forward">Forward </button>
		</div><!-- end bottom-wizard -->
	</form>
</div><!-- end Survey container -->

<!-- OTHER JS -->
<script src="{% static "signup/js/jquery.validate.js"  %}" type="text/javascript"></script>
<script src="{% static "signup/js/jquery.placeholder.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/jquery.bxslider.min.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/quantity-bt.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/retina.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/functions.js" %}" type="text/javascript"></script>
<script src="{% static "signup/js/main.js" %}" type="text/javascript"></script>
</body>
</html>
