<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Scholfin Site Administration</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Date Picker -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script>
        $(function() {
          $( "#id_deadline_0" ).datepicker();
          $('#id_deadline_1').timepicker({ 'timeFormat': 'H:i:s' });
        });

      </script>

      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.9/jquery.timepicker.min.js"></script>
      <script>
        $(function() {
          $('#id_deadline_1').timepicker({ 'timeFormat': 'H:i:s' });
        });

      </script>
      
  <!--   -->
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "scholarship/material.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/styles.css" %}">
    <link rel="stylesheet" href="{% static "scholarship/css/bootstrap.css" %}">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>

  <script type="text/javascript" src='//cdn.tinymce.com/4/tinymce.min.js'></script>
  <script type="text/javascript">
  tinymce.init({
    selector: '#id_eligibility',
    // theme: 'modern',
    plugins: [
    'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
  ],
  content_css: 'css/content.css',
  menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect',
    // theme: 'modern',
    // plugins: [
    //   'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
    //   'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
    //   'save table contextmenu directionality template paste textcolor table'
    // ],

    // toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table'
  });

  tinymce.init({
    selector: '#id_summary',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
  menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_deadline_details',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_other_benefits',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_about',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_procedure',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_contact_details',
    // theme: 'modern',
    
    plugins: [
      'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality template paste textcolor table'
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview  | forecolor table | link image | fontsizeselect'
  });

  tinymce.init({
    selector: '#id_meta_data',
    // theme: 'modern',
    plugins: [
      'wordcount',
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar : false,
    
  });

  tinymce.init({
    selector: '#id_meta_title',
    // theme: 'modern',
    
    plugins: [
      'wordcount',
    ],
    content_css: 'css/content.css',
    menubar: false,
    toolbar : false,
  });
  </script>
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">ScholFin Custom Admin</span>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <a href="/" style="text-decoration:none"><li class="mdl-menu__item">View Site</li></a>
            <a href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/password_change/" style="text-decoration:none"><li class="mdl-menu__item">Change Password</li></a>
            <a href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/logout/" style="text-decoration:none"><li class="mdl-menu__item">Logout</li></a>
          </ul>
        </div>
      </header>



      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/"><strong> Dashboard </strong></a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/all/">All Scholarships</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/dc/">Scholarships(Deadline crossed)</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/dt1/">Scholarships(Deadline type=1)</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/dt2/">Scholarships(Deadline type=2)</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/a0/">Scholarships(Amount=0 or blank)</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/weekly_update/">Weekly Update!</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/custom_admin/scholarship_diff/">Changed Scholarships</a>

          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/">Admin</a>
          
          <a class="mdl-navigation__link" style="text-decoration:none" href="/a78shfbwifhbiwh324b2r2kjvr3h4brl3hb4r13hbrl/logout/">Logout</a>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>

      <main class="mdl-layout__content mdl-color--grey-100">
      <div align="justify" style="padding:90px;padding-top:30px;">
      {% load bootstrap %}
      
     <form method="POST">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="col-md-12 text-center"> 
      <button type="submit" class="btn btn-default" text-center >Save!</button>
      </div>
      </form>
      </div>
      </main>
    </div>


</body>
</html>
